Assignment-1/assignment-1-hg-codes/sklearn-env
Assignment-1/assignment-1-hg-codes/student_dataset.csv


Assignment-2/assignment-2-hg-codes/Dataset


Assignment-3/assignment-3-hg-codes/outputs
Assignment-3/assignment-3-hg-codes/Q1
Assignment-3/assignment-3-hg-codes/Q2
Assignment-3/assignment-3-hg-codes/Q3
Assignment-3/assignment-3-hg-codes/runs


Assignment-4/assignment-4-hg-codes/artifacts
Assignment-4/assignment-4-hg-codes/data
Assignment-4/assignment-4-hg-codes/wandb
Assignment-4/assignment-4-hg-codes/Q3/__pycache__
Assignment-4/assignment-4-hg-codes/Q1Report.docx

Assignment-5/assignment-5-hg-codes/data
Assignment-5/assignment-5-hg-codes/Dataset
Assignment-5/assignment-5-hg-codes/report.docx